node_modules
package-lock.json
*.rar
*.zip
dist
other
src
*.gyp
*.txt
yarn.lock
.vscode
*.dev.js
build/node_modules
build/Release
build/binding.sln
build/*.vcxproj
build/*.vcxproj.filters
build/*.gypi